{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="row">
  <div class="col-md-8">
    <div class="card card-default mt-1 ">
      <div class="card-header">{{gig.title}}</div><hr>
      <div class="card-body"><img src="/media/{{gig.photo}}" class="img-responsive card-img" alt=""></div>
    </div>
  <div class="card card-default mt-3 mb-3">
    <div class="card-header">About this gig </div>
    <div class="card-body"><p class="card-text">{{gig.description}}</p></div>
</div>


<div class="card card-default mt-3 mb-3">
<div class="card-header">
  Review
</div>
<ul class="list-group-item list-group-flush">
<div class="row">
  <div class="col-md-1">
    <img src="{% static 'img/avatar.jpg' %}" style="height:50px; width:50px;" class="img-circle card-img center-block" alt="">
  </div>
  <div class="col-md-11">
    <h5>username</h5>
    <p>Great Job</p>
  </div>
  <div class="col-md-1">
    <img src="{% static 'img/avatar.jpg' %}" style="height:50px; width:50px;" class="img-circle card-img center-block" alt="">
  </div>
  <div class="col-md-11">
    <h5>username</h5>
    <p>Will work with him in future</p>
  </div>
  <div class="col-md-1">
    <img src="{% static 'img/avatar.jpg' %}" style="height:50px; width:50px;" class="img-circle card-img center-block" alt="">
  </div>
  <div class="col-md-11">
    <h5>username</h5>
    <p>This guy have some knwoledge</p>
  </div>

</div>

</ul>
</div>

  </div>
<div class="col-md-4 mt-2">
  <div class="card-header">
    {% if user and not user.is_anonymous %}
        <form class="" action="/checkout/" method="POST">
          {% csrf_token %}
          <div id="payment-form">
            <input name="gig_id" value="{{gig.id}}" hidden>
            <button type="submit" class="btn btn-success btn-block" >ORDER NOW (${{gig.price}})</button>
          </div>
        </form>
        <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script type="text/javascript">
          $(document).ready(function(){
            braintree.setup("{{client_token}}","dropin",{
              container:"payment-form",
              paypal:{
                singleUse:true,
                amount:"{{gig.price}}",
                currency:"USD"
              }
            })
          })
        </script>
    {% else %}
      You need to login to order this gig!
    {% endif %}
</div>
    <div class="card text-center mt-4 mb-2">
        <div class="card-header">
          Profile
        </div>
        <div class="card-body mt-2">
          <img src="{% static 'img/avatar.jpg' %}" style="height:60px; width:60px;" class="center-block img-circle" alt="">
          <h5 class="card-title">{{gig.user.username}}</h5>
          <p class="card-text">{{gig.user.about}}</p>
          <a href="{% url 'miverrapp:profile' gig.user.username %}" class="btn btn-primary">Visit</a>
        </div>
</div>

</div>
</div>
{% endblock %}
