{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block body %}
<div class="mr-2 ml-2">
  <img src="{% static 'img/home.jpg' %}" class="img-fluid mr-2 ml-2" style="height:250px; width:100%;" alt="">

</div>
<div class="row ml-1 mr-1 mt-3">

{% for i in '123456789101112'%}
<div class="col-md-3">
           <div class="card mb-4 box-shadow">
             <img class="card-img-top" src="{% static 'img/home.jpg' %}" alt="Card image cap">
             <div class="card-body">
               <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
               <div class="d-flex justify-content-between align-items-center">
                 <b>by username</b>
                 <small class="text-muted"><p style="color:green;""><b>$5</b></p></small>
               </div>
             </div>
           </div>
         </div>
{% endfor %}

    </div>
{% endblock %}
