{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h2 mb-4>MyGigs</h2>
  <div class="card card-default">
    <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
{% for obj in gigs %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="{% url 'miverrapp:gig_detail' obj.id %}">{{obj.title}}</a></td>
      <td>{{obj.price}}</td>
      <td>{% if obj.status %}Active{% else %}Not Active{% endif %}</td>
      <td><a href="{% url 'miverrapp:gig_edit' obj.id %}">Edit</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>

  </div>
</div>


{% endblock %}
